APP_NAME=Flask Azure Demo
DEBUG=True

AZURE_OPENAI_ENDPOINT=你的 Azure OpenAI Endpoint
AZURE_OPENAI_API_KEY=你的 Azure OpenAI Key
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=你的 Deployment Name

OPEN_WEATHER_MAP_API_KEY=你的 OpenWeatherMap Key